body{
	background-color:#ccccff;
}

h2{
	margin-left:70px;
	color:#1f1f2e;
	text-align:center;
}

fieldset {
  border: solid black;
}

p{
	color:#1f1f2e;
	text-align:center;	
}

.center{
	margin-left:auto;
	margin-right:auto;
	border:solid black;
}

a{
	color:#660029;
}

.spelling-error {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ff0066;
}