body{
	background-color:#ff99c2;
}

fieldset
{
	border:solid black;
}

.button  {
  background-color:#ff1a75;
  border: 2px solid black;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a{
	color:#000066;
}

input[type=text], select {
  width: 100%;
  padding: 5px 6px;
  margin: 2px 0;
  display: inline-block;
  border: 2px solid #ff0080;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 5px 6px;
  margin: 2px 0;
  display: inline-block;
  border: 2px solid #ff0080;
  border-radius: 4px;
  box-sizing: border-box;
}

/* The container checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 2px solid black;
}

/* On mouse-over, add a black background color */
.container:hover input ~ .checkmark {
  background-color: #4d0026;
}

/* When the checkbox is checked, add a pink background */
.container input:checked ~ .checkmark {
  background-color: #ff1a75;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4.5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid black ;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* The containerfor radio */
.container2 {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 90%;
  border: 2px solid black;
}

/* On mouse-over, add a black background color */
.container2:hover input ~ .checkmark2 {
  background-color: #4d0026;
}

/* When the radio button is checked, add a pink background */
.container2 input:checked ~ .checkmark2 {
  background-color: #ff1a75;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
 	top:4px;
	left:4px;
	width: 10px;
	height: 10px;
	border-radius: 80%;
	background: white;
}
 
 p{
	font-weight:bold;
	color:#1f1f2e;
}















